/* FavouritesButton.css */
.favourites-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .favourites-button:hover {
    background-color: lightblue;
  }
  
  .favourites-button-active {
    background-color: pink;
    color: black;
  }
  